<form action="simpanuser" method="POST"> 
        <p><input type="text" name="fullname" id=""> Nama Lengkap </p>
      <p><input type="text" name="username" id=""> Nama User </p> 
      <p><input type="password" name="paswd" id=""> Password </p>  
      <p><input type="submit" value="SignUp"></p>
</form>
